.login {
    background-color: #ffffff;
    width: 100%;
    min-width: 1440px;
    min-height: 1024px;
    position: relative;
}

.login .frame {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 145px;
    left: 435px;
}

.login .rectangle {
    position: relative;
    width: 550px;
    height: 700px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 20px #00000040;
}

.login .text-wrapper {
    position: absolute;
    top: 251px;
    left: 579px;
    width: 282px;
    font-family: "Lexend-SemiBold", Helvetica;
    font-weight: 600;
    color: #009bab;
    font-size: 52px;
    text-align: center;
    letter-spacing: 0;
    line-height: 22px;
}

.login .sign-in {
    position: absolute;
    top: 648px;
    left: 627px;
    width: 188px;
    height: 70px;
}

.login .div {
    position: absolute;
    top: 0;
    left: 8px;
    width: 170px;
    height: 70px;
    background-color: #009bab;
    border-radius: 15px;
}

.login .text-wrapper-2 {
    position: absolute;
    top: 19px;
    left: 0;
    width: 186px;
    font-family: "Lexend-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0;
    line-height: 22px;
}

.login .username {
    position: absolute;
    top: 348px;
    left: 540px;
    width: 364px;
    height: 80px;
}

.login .rectangle-2 {
    position: absolute;
    top: 30px;
    left: 0;
    width: 360px;
    height: 50px;
    background-color: #f6f6f6;
    border-radius: 35px;
    border: 1px solid;
    border-color: #009bab;
}

.login .text-wrapper-3 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Lexend-Regular", Helvetica;
    font-weight: 400;
    color: #009bab;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.login .text-wrapper-4 {
    top: 45px;
    position: absolute;
    left: 23px;
    font-family: "Lexend-Regular", Helvetica;
    font-weight: 400;
    color: #9c9c9c;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.login .password {
    position: absolute;
    top: 453px;
    left: 540px;
    width: 364px;
    height: 80px;
}

.login .text-wrapper-5 {
    top: 43px;
    position: absolute;
    left: 23px;
    font-family: "Lexend-Regular", Helvetica;
    font-weight: 400;
    color: #9c9c9c;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.login .remember {
    position: absolute;
    top: 568px;
    left: 648px;
    width: 146px;
    height: 20px;
    display: flex;
    gap: 10px;
}

.login .rectangle-3 {
    width: 20px;
    height: 20px;
    background-color: #f6f6f6;
    border-radius: 5px;
    border: 1px solid;
    border-color: #009bab;
}

.login .text-wrapper-6 {
    width: 114px;
    height: 20px;
    font-family: "Lexend-Regular", Helvetica;
    font-weight: 400;
    color: #009bab;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.login .create-forget {
    position: absolute;
    top: 780px;
    left: 563px;
    width: 327px;
    height: 20px;
    display: flex;
    gap: 65px;
}

.login .text-wrapper-7 {
    width: 119px;
    height: 20px;
    font-family: "Lexend-Regular", Helvetica;
    font-weight: 400;
    color: #009bab;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.login .text-wrapper-8 {
    width: 139px;
    height: 20px;
    font-family: "Lexend-Regular", Helvetica;
    font-weight: 400;
    color: #009bab;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}
/* Original CSS code should be injected here */

.login-form {
    position: relative;
}

.login .username .rectangle-2 {
    width: 360px;
    height: 50px;
    background-color: #f6f6f6;
    border-radius: 35px;
    border: 1px solid #009bab;
    padding: 0 23px;
    font-family: "Lexend-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    outline: none;
}

.login .username .rectangle-2::placeholder {
    color: #9c9c9c;
}

.login .username .rectangle-2:focus {
    border-color: #009bab;
    border-width: 2px;
}

.login .password .rectangle-2 {
    width: 360px;
    height: 50px;
    background-color: #f6f6f6;
    border-radius: 35px;
    border: 1px solid #009bab;
    padding: 0 23px;
    font-family: "Lexend-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    outline: none;
}

.login .password .rectangle-2::placeholder {
    color: #9c9c9c;
}

.login .password .rectangle-2:focus {
    border-color: #009bab;
    border-width: 2px;
}

.login .remember .rectangle-3 {
    width: 20px;
    height: 20px;
    background-color: #f6f6f6;
    border-radius: 5px;
    border: 1px solid #009bab;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
    flex-shrink: 0;
    outline: none;
}

.login .remember .rectangle-3:checked {
    background-color: #009bab;
    position: relative;
}

.login .remember .rectangle-3:checked::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.login .remember .rectangle-3:focus {
    border-color: #009bab;
    border-width: 2px;
}

.login .remember .text-wrapper-6 {
    cursor: pointer;
    user-select: none;
}

.login .sign-in {
    position: absolute;
    top: 648px;
    left: 627px;
    width: 188px;
    height: 70px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    font: inherit;
}

.login .sign-in:hover .div {
    background-color: #008a99;
}

.login .sign-in:active .div {
    background-color: #007580;
}

.login .sign-in:focus {
    outline: 2px solid #4a90e2;
    outline-offset: 2px;
    border-radius: 15px;
}

.login .create-forget .text-wrapper-7 {
    cursor: pointer;
    text-decoration: none;
    color: #009bab;
}

.login .create-forget .text-wrapper-7:hover {
    text-decoration: underline;
}

.login .create-forget .text-wrapper-7:focus {
    outline: 2px solid #4a90e2;
    outline-offset: 2px;
}

.login .create-forget .text-wrapper-8 {
    cursor: pointer;
    text-decoration: none;
    color: #009bab;
}

.login .create-forget .text-wrapper-8:hover {
    text-decoration: underline;
}

.login .create-forget .text-wrapper-8:focus {
    outline: 2px solid #4a90e2;
    outline-offset: 2px;
}

.login .username {
    position: absolute;
    top: 348px;
    left: 540px;
    width: 364px;
    height: 80px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login .password {
    position: absolute;
    top: 453px;
    left: 540px;
    width: 364px;
    height: 80px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}