<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="css">
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
</div>

<div th:fragment="navBar">
    <style>
        .dropdown:hover .dropdown-menu {
            display: block;
        }
    </style>
    <nav class="navbar navbar-expand-lg bg-white border-bottom py-3">
        <div class="container">
            <a class="navbar-brand fw-bold text-primary fs-2" th:href="@{/home}">HealthHub</a>
            <div class="d-flex align-items-center gap-4">
                <a class="text-primary text-decoration-none fw-semibold" th:href="@{/home/list-doctor}">Doctors</a>
                <div class="dropdown">
                    <a class="dropdown-toggle text-primary text-decoration-none fw-semibold"
                       id="dropdownSpecialty" data-bs-toggle="dropdown" aria-expanded="false">
                        Specialty
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownSpecialty">
                        <li th:each="s : ${session.specialties}"><a class="dropdown-item" th:href="@{/home/specialty/{specialty}(specialty=${s})}" th:text="${s}"></a></li>
                    </ul>
                </div>
                <a class="text-primary text-decoration-none fw-semibold" th:href="@{/appointment/appointment-list}">Book an appointment</a>
                <a class="btn btn-primary btn-sm text-white fw-semibold px-3" href="#">Login</a>
            </div>
        </div>
    </nav>
</div>


<footer th:fragment="footer" class="bg-primary text-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <h4 class="fw-bold">HealthHub</h4>
                <p>FPT’s Trusted Healthcare System</p>
                <p><i class="fa fa-map-marker-alt me-2"></i>666 Nguyen Van Cu, Can Tho</p>
                <p><i class="fa fa-phone me-2"></i>+84 123 456 789</p>
            </div>
            <div class="col-md-4 mb-3">
                <h6 class="fw-bold">Links</h6>
                <ul class="list-unstyled">
                    <li><a th:href="@{/home/list-doctor}" class="text-white text-decoration-none">Doctor</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Appointment</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<div th:fragment="js">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</div>

</html>
