<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Figma Export</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lexend:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">

</head>
<body>
<div style="width: 100%; height: 2812px; position: relative; background: white; overflow: hidden">
  <img style="width: 265px; height: 350px; left: 160px; top: 1750px; position: absolute" src="https://placehold.co/265x350" />
  <img style="width: 265px; height: 350px; left: 445px; top: 1750px; position: absolute" src="https://placehold.co/265x350" />
  <div style="width: 265px; height: 50px; left: 160px; top: 2050px; position: absolute; background: rgba(0, 155, 171, 0.66)"></div>
  <img style="width: 265px; height: 350px; left: 730px; top: 1750px; position: absolute" src="https://placehold.co/265x350" />
  <img style="width: 265px; height: 350px; left: 1015px; top: 1750px; position: absolute" src="https://placehold.co/265x350" />
  <div style="left: 227px; top: 2062px; position: absolute; color: white; font-size: 20px; font-family: Lexend; font-weight: 400; word-wrap: break-word">Dr. DangPHH</div>
  <div style="width: 265px; height: 50px; left: 445px; top: 2050px; position: absolute; background: rgba(0, 155, 171, 0.66)"></div>
  <div style="left: 512px; top: 2062px; position: absolute; color: white; font-size: 20px; font-family: Lexend; font-weight: 400; word-wrap: break-word">Dr. VinhNHT</div>
  <div style="width: 265px; height: 50px; left: 730px; top: 2050px; position: absolute; background: rgba(0, 155, 171, 0.66)"></div>
  <div style="left: 797px; top: 2062px; position: absolute; color: white; font-size: 20px; font-family: Lexend; font-weight: 400; word-wrap: break-word">Dr. LongNVD</div>
  <div style="width: 265px; height: 50px; left: 1015px; top: 2050px; position: absolute; background: rgba(0, 155, 171, 0.66)"></div>
  <div style="left: 1082px; top: 2062px; position: absolute; color: white; font-size: 20px; font-family: Lexend; font-weight: 400; word-wrap: break-word">Dr. TanNV</div>
  <div style="left: 657px; top: 1617px; position: absolute; color: #009BAB; font-size: 32px; font-family: Lexend; font-weight: 600; word-wrap: break-word">Doctors</div>
  <img style="width: 100%; height: 600px; top: 150px; position: absolute" src="https://placehold.co/1440x600" />
  <div style="width: 416px; height: 214px; left: 160px; top: 293px; position: absolute; color: #00749B; font-size: 45px; font-family: Lexend; font-weight: 600; line-height: 67px; word-wrap: break-word">FPT’s Trusted Healthcare System</div>
  <div style="width: 1440px; height: 150px; left: 0px; top: 0px; position: absolute; background: white"></div>
  <div style="width: 85px; height: 35px; left: 1195px; top: 57px; position: absolute; background: #009BAB; border-radius: 20px"></div>
  <div style="width: 80px; left: 1090px; top: 63px; position: absolute; text-align: center; color: #009BAB; font-size: 16px; font-family: Lexend; font-weight: 600; line-height: 22px; word-wrap: break-word">About us</div>
  <div style="width: 282px; height: 33px; left: 160px; top: 49px; position: absolute; text-align: center; color: #009BAB; font-size: 52px; font-family: Lexend; font-weight: 600; line-height: 22px; word-wrap: break-word">HealthHub</div>
  <div style="width: 97px; left: 968px; top: 63px; position: absolute; text-align: center; color: #009BAB; font-size: 16px; font-family: Lexend; font-weight: 600; line-height: 22px; word-wrap: break-word">Specialty</div>
  <a style="width: 67px; left: 876px; top: 63px; position: absolute; text-align: center; color: #009BAB; font-size: 16px; font-family: Lexend; font-weight: 600; line-height: 22px; word-wrap: break-word" th:href="@{/guest/list-doctor}">Doctors</a>
  <div style="width: 185px; left: 666px; top: 63px; position: absolute; text-align: center; color: #009BAB; font-size: 16px; font-family: Lexend; font-weight: 600; line-height: 22px; word-wrap: break-word">Book an appointment</div>
  <div style="width: 56px; left: 1210px; top: 63px; position: absolute; text-align: center; color: white; font-size: 16px; font-family: Lexend; font-weight: 600; line-height: 22px; word-wrap: break-word">Login</div>
  <div style="width: 1120px; height: 200px; left: 160px; top: 650px; position: absolute; background: white; box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25); border-radius: 20px; outline: 1px rgba(0, 0, 0, 0.05) solid"></div>
  <div style="width: 835px; height: 50px; left: 255px; top: 681px; position: absolute; background: #F3F4F7; border-radius: 10px"></div>
  <div style="left: 330px; top: 696px; position: absolute; color: #BEBFC2; font-size: 16px; font-family: Lexend; font-weight: 400; word-wrap: break-word">Search doctors, specialties</div>
  <div style="width: 50px; height: 50px; left: 1121px; top: 681px; position: absolute; background: #009BAB; border-radius: 10px"></div>
  <div style="width: 265px; height: 50px; left: 255px; top: 761px; position: absolute; background: #009BAB; border-radius: 30px"></div>
  <div style="width: 265px; height: 50px; left: 587px; top: 761px; position: absolute; background: #009BAB; border-radius: 30px"></div>
  <div style="width: 265px; height: 50px; left: 920px; top: 761px; position: absolute; background: #009BAB; border-radius: 30px"></div>
  <div style="width: 25px; height: 23.55px; left: 285px; top: 696px; position: absolute; background: #009BAB"></div>
  <div style="width: 25px; height: 23.55px; left: 1134px; top: 696px; position: absolute; background: white"></div>
  <div style="left: 329px; top: 776px; position: absolute; color: white; font-size: 16px; font-family: Lexend; font-weight: 400; word-wrap: break-word">Search doctors</div>
  <div style="left: 650px; top: 773px; position: absolute; color: white; font-size: 16px; font-family: Lexend; font-weight: 400; word-wrap: break-word">Search specialties</div>
  <div style="width: 220px; left: 966px; top: 776px; position: absolute; color: white; font-size: 16px; font-family: Lexend; font-weight: 400; word-wrap: break-word">Book an appointment</div>
  <img style="width: 360px; height: 240px; left: 540px; top: 1050px; position: absolute; border-radius: 20px" src="https://placehold.co/360x240" />
  <img style="width: 360px; height: 240px; left: 920px; top: 1050px; position: absolute; border-radius: 20px" src="https://placehold.co/360x240" />
  <img style="width: 360px; height: 240px; left: 160px; top: 1310px; position: absolute; border-radius: 20px" src="https://placehold.co/360x240" />
  <img style="width: 360px; height: 240px; left: 540px; top: 1310px; position: absolute; border-radius: 20px" src="https://placehold.co/360x240" />
  <img style="width: 360px; height: 240px; left: 920px; top: 1310px; position: absolute; border-radius: 20px" src="https://placehold.co/360x240" />
  <div style="left: 563px; top: 1242px; position: absolute; color: white; font-size: 20px; font-family: Lexend; font-weight: 600; word-wrap: break-word">Cardiology</div>
  <div style="left: 942px; top: 1242px; position: absolute; color: white; font-size: 20px; font-family: Lexend; font-weight: 600; word-wrap: break-word">General Internal Medicine</div>
  <div style="left: 942px; top: 1498px; position: absolute; color: white; font-size: 20px; font-family: Lexend; font-weight: 600; word-wrap: break-word">Pediatrics</div>
  <div style="left: 563px; top: 1498px; position: absolute; color: white; font-size: 20px; font-family: Lexend; font-weight: 600; word-wrap: break-word">Orthopedics</div>
  <div style="width: 254px; height: 20px; left: 183px; top: 1498px; position: absolute; color: white; font-size: 20px; font-family: Lexend; font-weight: 600; word-wrap: break-word">Obstetrics & Gynecology</div>
  <div style="left: 633px; top: 930px; position: absolute; color: #009BAB; font-size: 32px; font-family: Lexend; font-weight: 600; word-wrap: break-word">Specialties</div>
  <div style="left: 160px; top: 1060px; position: absolute; color: #009BAB; font-size: 32px; font-family: Lexend; font-weight: 600; word-wrap: break-word">Introduction</div>
  <div style="width: 337px; height: 130px; left: 160px; top: 1112px; position: absolute; color: #BEBFC2; font-size: 16px; font-family: Lexend; font-weight: 500; word-wrap: break-word">HealthHub features five specialties: Cardiology, General Internal Medicine, Obstetrics & Gynecology (OB-GYN), Orthopedics, and Pediatrics, giving you more choices and consistently excellent service.</div>
  <div style="width: 100%; height: 250px; left: 0px; top: 2562px; position: absolute; background: #009BAB"></div>
  <div style="width: 358px; height: 30px; left: 922px; top: 2653px; position: absolute; background: #009BAB; border-radius: 20px; border: 1px white solid"></div>
  <div style="width: 75px; height: 30px; left: 1205px; top: 2653px; position: absolute; background: #A5F5FE; border-radius: 20px; border: 1px #A5F5FE solid"></div>
  <div style="left: 730px; top: 2598px; position: absolute; color: white; font-size: 16px; font-family: Lexend; font-weight: 400; word-wrap: break-word">Specialty</div>
  <div style="left: 925px; top: 2618px; position: absolute; color: white; font-size: 16px; font-family: Lexend; font-weight: 400; word-wrap: break-word">Follow our updates</div>
  <div style="left: 1210px; top: 2657px; position: absolute; color: #009BAB; font-size: 16px; font-family: Lexend; font-weight: 400; word-wrap: break-word">Register</div>
  <div style="left: 941px; top: 2657px; position: absolute; color: #BEBFC2; font-size: 16px; font-family: Lexend; font-weight: 400; word-wrap: break-word">Your email address</div>
  <div style="left: 730px; top: 2628px; position: absolute; color: white; font-size: 16px; font-family: Lexend; font-weight: 400; word-wrap: break-word">Doctor</div>
  <div style="left: 730px; top: 2658px; position: absolute; color: white; font-size: 16px; font-family: Lexend; font-weight: 400; word-wrap: break-word">Book an appointment</div>
  <div style="left: 730px; top: 2688px; position: absolute; color: white; font-size: 16px; font-family: Lexend; font-weight: 400; word-wrap: break-word">Contact</div>
  <div style="left: 257px; top: 2658px; position: absolute; color: white; font-size: 16px; font-family: Lexend; font-weight: 400; word-wrap: break-word">+84 123 456 789</div>
  <div style="left: 256px; top: 2688px; position: absolute; color: white; font-size: 16px; font-family: Lexend; font-weight: 400; word-wrap: break-word">666 Nguyen Van Cu, Can Tho</div>
  <div style="width: 282px; height: 33px; left: 253px; top: 2607px; position: absolute; text-align: center; color: white; font-size: 52px; font-family: Lexend; font-weight: 600; line-height: 22px; word-wrap: break-word">HealthHub</div>
  <div style="width: 100%; height: 250px; left: 0px; top: 2222px; position: absolute; background: white"></div>
  <div style="left: 1121px; top: 2300px; position: absolute; color: #009BAB; font-size: 30px; font-family: Lexend; font-weight: 600; word-wrap: break-word">600</div>
  <div style="width: 115px; height: 0px; left: 1090px; top: 2347px; position: absolute; outline: 1px #009BAB solid; outline-offset: -0.50px"></div>
  <div style="left: 1106px; top: 2356px; position: absolute; color: #009BAB; font-size: 20px; font-family: Lexend; font-weight: 600; word-wrap: break-word">Patients</div>
  <div style="left: 636px; top: 2180px; position: absolute; color: #009BAB; font-size: 32px; font-family: Lexend; font-weight: 600; word-wrap: break-word">Overview</div>
  <div style="width: 282px; height: 33px; left: 255px; top: 2325px; position: absolute; text-align: center; color: #009BAB; font-size: 52px; font-family: Lexend; font-weight: 600; line-height: 22px; word-wrap: break-word">HealthHub</div>
  <div style="left: 756px; top: 2300px; position: absolute; color: #009BAB; font-size: 30px; font-family: Lexend; font-weight: 600; word-wrap: break-word">5</div>
  <div style="width: 115px; height: 0px; left: 707px; top: 2347px; position: absolute; outline: 1px #009BAB solid; outline-offset: -0.50px"></div>
  <div style="left: 713px; top: 2356px; position: absolute; color: #009BAB; font-size: 20px; font-family: Lexend; font-weight: 600; word-wrap: break-word">Specialties</div>
  <div style="left: 949px; top: 2300px; position: absolute; color: #009BAB; font-size: 30px; font-family: Lexend; font-weight: 600; word-wrap: break-word">6</div>
  <div style="width: 115px; height: 0px; left: 900px; top: 2347px; position: absolute; outline: 1px #009BAB solid; outline-offset: -0.50px"></div>
  <div style="left: 920px; top: 2356px; position: absolute; color: #009BAB; font-size: 20px; font-family: Lexend; font-weight: 600; word-wrap: break-word">Doctors</div>
</div>
</body>
</html>