<!-- SIDEBAR -->

    <div class="col-md-3 col-12 bg-light sidebar vh-100 p-4 border-end" th:fragment="sidebar-patient">
        <h5 class="mb-4 text-primary">Account</h5>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/patient/profile}">Information</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/patient/list-medical-records}">List medical records</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/patient/edit-profile}">Edit profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/patient/change-password}">Change password</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-danger" th:href="@{/patient/logout}">Logout</a>
            </li>
        </ul>
    </div>


