<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HealthHub - Home</title>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" href="/assets/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/fragment-patient.css">
    <link rel="stylesheet" href="/assets/css/popup-error.css">
    <div th:replace="~{fragment/fragment.html :: css}"></div>
    <style>
        body {
            background-color: #ffffff;
        }

        .card-img-overlay {
            background: rgba(0, 0, 0, 0.4);
            border-radius: 0.5rem;
        }



    </style>
</head>
<body>

<!-- NAVBAR -->
<div th:replace="~{fragment/fragment.html :: navBar}"></div>

<!-- HERO BANNER -->
<section class="container py-5">
    <div class="row align-items-center">
        <div class="col-md-6">
            <h1 class="fw-bold mb-3" style="color: #009bab">FPT’s Trusted Healthcare System</h1>
            <p class="text-muted">HealthHub features five specialties: Cardiology, Internal Medicine, OB-GYN,
                Orthopedics, and Pediatrics – giving you more choices and consistent care.</p>
        </div>
        <div class="col-md-6 text-center">
            <img th:src="${'/images/giaodien/banner.jpg'}" alt="Hero Image" class="img-fluid rounded">
        </div>
    </div>
</section>
<!--<section class="hero-banner">-->
<!--    <div class="hero-content text-center">-->
<!--        <h1 class="fw-bold mb-3" style="color: #009bab;">FPT’s Trusted Healthcare System</h1>-->
<!--        <p class="text-muted">HealthHub features five specialties: Cardiology, Internal Medicine, OB-GYN, Orthopedics, and Pediatrics – giving you more choices and consistent care.</p>-->
<!--    </div>-->
<!--    <img th:src="${'/images/giaodien/banner.jpg'}" alt="Hero Image" class="img-fluid hero-image">-->
<!--</section>-->


<!-- ACTION BUTTONS BOX -->
<section class="container py-4">
    <div class="card p-5 shadow text-center border-1" style="border-color: #009bab">
        <div class="d-flex justify-content-center gap-4 flex-wrap">
            <a th:href="@{/home/search-doctor}" class="btn btn-lg px-5 py-3 fs-5"
               style="width: 380px; color: #009bab; border-color: #009bab">
                <i class="fa-solid fa-user-doctor me-2"></i>Find A Doctors
            </a>
            <a th:href="@{/patient/appointment/make-appointment}" class="btn btn-outline-primary btn-lg px-5 py-3 fs-5"
               style="width: 380px; color: #009bab; border-color: #009bab">
                <i class="fa-solid fa-calendar-check me-2"></i>Book Appointment
            </a>
        </div>
    </div>
</section>


<!-- DOCTORS SECTION -->
<section class="container py-5">
    <h2 class="text-center fw-bold mb-4" style="color: #009bab;">Our Doctors</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
        <div class="col" th:each="doctor : ${doctors}">
            <a th:href="@{/home/doctor-profile/{id}(id=${doctor.doctorId})}">
            <div class="position-relative rounded overflow-hidden">
                <img th:src="${doctor.avatarFilename} != null ?
                  @{/images/avatars/{file}(file=${doctor.avatarFilename})} :
                  @{/images/avatars/default-avatar.png}"
                     alt="Avatar"
                     class="shadow avatar-img"
                     style="height: 350px; object-fit: cover; width: 100%;">
                <div class="position-absolute bottom-0 start-0 w-100 px-3 py-2 bg-info bg-opacity-75 text-white text-start">
                    <strong th:text="${doctor.fullName}">Dr. Name</strong><br>
                    <small th:text="${doctor.specialty}">Doctor's Title</small>
                </div>
            </div>
            </a>
        </div>
    </div>
</section>

<section class="container py-5">
    <div class="row align-items-center g-4">
        <!-- LEFT CONTENT -->
        <div class="col-md-4">
            <h2 class=" fw-bold mb-3 " style="color: #009bab;">Our Specialties</h2>
            <p class="text-muted">
                HealthHub provides a wide range of medical specialties and expert care teams, ensuring every patient
                receives trusted, personalized treatment using modern technology and evidence-based practices.
            </p>
            <div class="dropdown">
                <a class="dropdown-toggle text-decoration-none fw-semibold"
                   id="dropdownSpecialty" data-bs-toggle="dropdown" aria-expanded="false" style="color: #009bab;">
                    Departments
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownSpecialty">
                    <li th:each="s : ${departments}"><a class="dropdown-item" th:href="@{/home/department/{departmentName}(departmentName=${s.name})}" th:text="${s.name}"></a></li>
                </ul>
            </div>

        </div>

        <!-- RIGHT SPECIALTY CARDS -->
        <div class="col-md-8">
            <div class="row g-3">
                <div class="col-md-6">
                    <div class="card text-white border-0 position-relative">
                        <img th:src="${'/images/giaodien/Cardiology.png'}" class="card-img" alt="General Internal Medicine">
                        <div class="card-img-overlay d-flex align-items-end"
                             style="background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);">
                            <h5 class="card-title fw-bold">Cardiology</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card text-white border-0 position-relative">
                        <img th:src="${'/images/giaodien/Paediatrics.png'}" class="card-img" alt="Obstetrics & Gynaecology">
                        <div class="card-img-overlay d-flex align-items-end"
                             style="background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);">
                            <h5 class="card-title fw-bold">Paediatrics</h5>
                        </div>
                    </div>
                </div>
                <!-- Add more specialties below -->
            </div>
        </div>
    </div>
</section>


<div class="feedback-container">
    <div th:replace="~{fragment/patient/page :: pagination-feedback}"></div>

    <div sec:authorize="isAuthenticated()" th:replace="~{fragment/patient/feedback :: feedback}">

    </div>
</div>
<!-- FOOTER -->
<footer th:insert="~{fragment/fragment :: footer}"></footer>
<!-- Bootstrap JS -->
<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function showEditForm(id) {
        document.getElementById('edit-form-' + id).style.display = 'block';
    }

    function hideEditForm(id) {
        document.getElementById('edit-form-' + id).style.display = 'none';
    }
</script>

<script>
    function confirmDelete(feedbackId) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to undo this action!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#6c757d',
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'Cancel'
        }).then((result) => {
            if (result.isConfirmed) {
                // Gửi form khi user bấm Yes
                document.getElementById('delete-form-' + feedbackId).submit();
            }
        });
    }
</script>

<div id="flash-message-error" th:data-msg="${errorMessage}" style="display:none;"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
    const errorMsg = document.getElementById('flash-message-error').dataset.msg;
    if (errorMsg) {
        Swal.fire({
            icon: 'error',
            title: 'Error!',
            text: errorMsg,
            confirmButtonText: 'OK',
            confirmButtonColor: '#dc3545',
            customClass: {
                popup: 'swal2-border-red'
            }
        });
    }
    /*]]>*/
</script>

<div th:replace="~{fragment/popup :: popup}"></div>
</body>
</html>
